{% load staticfiles %}
{% load essays_tags %}
<!DOCTYPE HTML>
<html>
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-59VWBND');</script>
<!-- End Google Tag Manager -->
<title>行銷技術控 | Marketing with Data & Web Tech</title>
<meta name="google-site-verification" content="Ja0wk-_nuipAVZHdFOmbu-QYGFCSL7Q2VzOuwNH-kO8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Growth Hack, Data, Marketing Tech, User Acqusition, User Activate, User Retention, Referral, Revenue, 增長駭客, 行銷, 技術, 產品增長, 資料分析, 成長駭客, 行銷自動化, 程序化, 廣告, 數位廣告, 用戶增長, 用戶留存, 推荐, 轉換營收" />
<meta property="og:url"           content="https://growthackit.pythonanywhere.com/" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="首頁－行銷技術控 | Marketing with Data & Web Tech" />
<meta property="og:description"   content="行銷技術控，每周分享互聯網大牛公司的行銷技術，產品增長觀點、心法與工具。" />
<meta property="og:image"         content="http://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2017/08/24/Pictures/_d6480bc2-8888-11e7-a194-d8b7abb7611c.jpg" />
<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon-96x96.png' %}">
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />	
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- animation-effect -->
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet"> 
<script src="{% static 'js/wow.min.js' %}"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5611170227781133",
    enable_page_level_ads: true
  });
</script>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.6";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-59VWBND"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header id="header" style="transition-duration: 0.5s"></header>
<div class="header" id="ban" style="position: fixed; overflow: hidden; top: 0px; width: 100%; z-index: 2">
		<div class="container">
			<div class="head-left fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
				
			</div>
			<div class="header_right fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                        <nav class="link-effect-7" id="link-effect-7">
                            {% get_categories as category_list %}
                                <ul class="nav navbar-nav">
                                    <li class="active act"><a style="font-size: 14px" href="/">Home</a></li>
                                    {% for category in category_list %}
                                    <li>
                                        <a href="{% url 'essays:category' category.pk %}#content">{{ category.name }}</a>
                                    </li>
                                    {% endfor %}
                                    <li><a style="font-size: 14px" href="/aboutme.html">About</a></li>
                                    <li><a style="font-size: 14px" href="/portfolio.html">Portfolio</a></li>
                                </ul>
                        </nav>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
			</div>
			<div class="nav navbar-nav navbar-right social-icons fadeInRight animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
					<ul>
						<li><a href="https://www.facebook.com/Abao.JiunYiYang" target="_blank"> </a></li>
						<li><a href="https://www.linkedin.com/in/jiunyiyang/" class="in" target="_blank"> </a></li>
					</ul>
				</div>
			<div class="clearfix"> </div>	
		</div>
	</div>
	<!--start-main-->
	<div class="header-bottom" style="margin-top: 100px; margin-bottom: 20px">
		<div class="container">
			<div class="logo fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s" style="position: relative">
				<a href="/"><img src="https://vectr.com/abaoyang/welcome.png?width=570&height=600&select=dq2YncSGN" alt="行銷 技術 控 Marketing Tech"></a>
				<div class="titleGroup" style="display: inline-block; position: absolute">
					<h1 style="z-index: 0"><a href="/">行銷技術控</a></h1>
					<p class="divider" style="z-index: 0">——————</p><p class="subTitle" style="z-index: 0"> Marketing with Data & Web Tech </p><p class="divider" style="z-index: 0">——————</p>
				</div>
			</div>
		</div>
	</div>
<!-- banner -->
<div class="banner">
<div class="container">	
		<h2>【效率擔當】最適合行銷人簡單製作UI & prototype，足以替代illustrator及proto.io的線上工具（內附組合技！）</h2>
		<p><strong>為什麼你值得看一看這篇文章：</strong><br>很多時候只是想簡單拉一個icon、排版、做個prototype，<br>但每次只要開illustrator就讓電腦跑很慢、或浪費時間在等待軟體開好、存下來的檔案又很大...<br>
如果你也不是Mac用不了Sketch、剛好電腦顯卡也沒有辦法跑Adobe Xd，那這兩個工具會非常適合你。線上免費設計工具——</p>
		<a style="position: relative; z-index: 1" href="/post/8.html#content">READ MORE</a>
		<img src="https://i1.wp.com/figmafinder.com/wp-content/uploads/2017/07/firma-free-ui-kit-31-freebies-0.jpg" alt="">
	</div>
</div>
	<div class="technology">
	<div class="container" id="content">
		<div class="col-md-9 technology-left">
		<div class="tech-no">
			<!-- technology-top -->
			
			 <div class="tc-ch wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
                {% block main %}
                {% endblock main %}
			</div>
			<div class="clearfix"></div>
			
			
			
			</div>
		</div>
		<!-- technology-right -->
		<div class="col-md-3 technology-right">
				
				
				<div class="blo-top1">
							
					<div class="tech-btm">
					<h4>Recent Posts </h4>
						<div class="blog-grids wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
							<div class="blog-grid-left">
								<a href="/post/8.html#content"><img src="https://i1.wp.com/figmafinder.com/wp-content/uploads/2017/07/firma-free-ui-kit-31-freebies-0.jpg" class="img-responsive" alt=""></a>
							</div>
							<div class="blog-grid-right">
								
								<h5><a href="/post/8.html#content">【效率擔當】最適合行銷人簡單製作UI & prototype，足以替代illustrator及proto.io的線上工具（內附組合技！）</a> </h5>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="blog-grids wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
							<div class="blog-grid-left">
								<a href="/post/7.html#content"><img src="http://adspark.ph/wp-content/uploads/2017/08/aug2017_canaireplaceemailmarketing.png" class="img-responsive" alt=""></a>
							</div>
							<div class="blog-grid-right">
								
								<h5><a href="/post/7.html#content">從Adobe AI技術Sensei發表，看客製化如何影響Email Marketing</a> </h5>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="blog-grids wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
							<div class="blog-grid-left">
								<a href="/post/6.html#content"><img src="https://rave.agency/wp-content/uploads/2017/06/ethics-marketing-artificial-intelligence.jpg" class="img-responsive" alt=""></a>
							</div>
							<div class="blog-grid-right">
								
								<h5><a href="/post/6.html#content">增長駭客的AI實際應用案例及發展（近期更新：2017/10）</a> </h5>
							</div>
							<div class="clearfix"> </div>
						</div>
						<!--<div class="insta wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
					<h4>FanPage</h4>
						
					</div>
					
					<p>Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur, at pro</p>
					<div class="twt">
					
						<iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-hashtag-button twitter-hashtag-button-rendered twitter-tweet-button" title="Twitter Tweet Button" src="https://platform.twitter.com/widgets/tweet_button.b7de008f493a5185d8df1aedd62d77c6.en.html#button_hashtag=TwitterStories&amp;dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=https%3A%2F%2Fp.w3layouts.com%2Fdemos%2Fduplex%2Fweb%2F&amp;size=l&amp;time=1467721486626&amp;type=hashtag" style="position: static; visibility: visible; width: 166px; height: 28px;" data-hashtag="TwitterStories"></iframe>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</div>-->
					</div>
					
					
					
				</div>
				
			
		</div>
		<div class="clearfix"></div>
		<!-- technology-right -->
	</div>
</div>
<div class="footer">
		<div class="container">
			<div class="col-md-4 footer-left">
				<h4>關於站長</h4>
				<p>22歲的行銷、軟體開發雙棲者，喜歡看偵探小說、關注互聯網新創的競爭分析：D</p>
				<div class="fb-follow" data-href="https://www.facebook.com/Abao.JiunYiYang" data-colorscheme="dark" data-layout="standard" data-size="large" data-show-faces="true"></div>
				<img src="{% static 'images/t4.jpg' %}" class="img-responsive" alt="">
					<div class="bht1">
						<a href="/aboutme.html">Know More</a>
					</div>
			</div>
			<div class="col-md-4 footer-middle">
			<h4>請認真的人喝一杯咖啡吧！</h4>	
				<p>你的贊助，就是我寫下去的動力！</p>
				<a href="https://p.allpay.com.tw/Lmhq5" target="_blank"><i class="fa fa-coffee" style="font-size: 40px"></i></a>
			</div>
			<div class="col-md-4 footer-right">
				<h4>Subscribe to Stay Tune</h4>
				<p>訂閱收到最新文章和免費教學資源！</p>
						<div class="name">
							<form id="main-contact-form" name="contact-form" action="https://formspree.io/jiunyi.yang.abao@gmail.com" method="post">
								<input type="text" name="name" placeholder="Your Name" required="required">
								<input type="text" name="_replyto" placeholder="Your Email" required="required">
								<input type="submit" name="submit" value="Get Free Tutorials">
							</form>
						
						</div>	
						
							<div class="clearfix"> </div>
					
			</div>
			<div class="clearfix"></div>
		</div>
		<p class="toTop" style="text-align: center; font-size: 24px; margin: 10px 0px"><a href="#header"><i class="fa fa-chevron-up"></i></a></p>
	</div>
	
	<div class="copyright wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
				<div class="container">
					<p>© 2017 行銷技術控. All rights reserved | Templates from <a href="http://w3layouts.com/">W3layouts</a></p>
				</div>
			</div>
	<!-- Comment #4: Plugin Code -->
  	<div class="fb-quote"></div>
</body>
</html>